@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
html{
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
body {
    padding: 0 0 0 0
}
/* header */
header{
    position: absolute;
    top: 0;
    padding-left: 100px;
    padding-right: 100px;
}
#first_display {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color:#141024 ;
    height: 835px;
}
#header_logo {
    font-family: "Jost";
    color: white;
    width: 228px;
    margin-top: 100px;
    font-size: 30px;
    
}
#header_list {
    color: white;
    font-family: "Jost";
    font-size: 20px;
    list-style: none;
    margin-top: 30px;
    
}
#header_list li {
    display: inline;
    margin-right: 50px;
}

#about_school {
    margin-left: 330px;
}
#login {
    margin-left: 25vw;
    font-size: 25px;
}
/* ANIMATION <a> */
#header_list a{
    text-decoration: none;
    position: relative;
}
#header_list a::before,#header_list a::after{
    content: '';
    position: absolute;
    height: 1px;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
}
#header_list a::before{
    top: -5px; /* Линия сверху */
    left: 0;
    width: 0;
}
#header_list a::after{
    bottom: -5px; /* Линия снизу */
    right: 0;
    width: 0%;
}
#header_list a:hover::before,#header_list a:hover::after{
    width: 100%; /* Линия сверху */
}
/* first display */
#woman {
    margin-top: 195px;
    margin-left: 15vw;
    position: absolute;
    z-index: 2;
    height: 640px;
    width: 360px;
}
#ellipse {
    width: 548px;
    height: 548px;
    margin-top: 260px;
    margin-left: 10vw;
    position: absolute;
    z-index: 1;
}
#lside {
    display: inline;
    float: left;
}
#first_display_logo {
    font-family: "Jost";
    color: white;
    font-size: 70px;
    margin-left: 15vw;
    margin-top: 300px;
}
#first_display_text {
    font-family: "Jost";
    color: white;
    font-size: 20px;
    margin-left: 15vw;
    margin-top: 30px;
}
#inscribe{
    margin-left: 15vw;
    margin-top: 50px;
    background-color: #D52027;
    width: 260px;
    height: 79px;
    color: white;
    font-family: "Jost";
    font-size: 18px;
    border-radius: 5px;
    border-color: #ff0b1400;
    transition: all 0.4s;
}
#inscribe:hover{
    background-color: #EBEBEB;
    color:  #D52027;
    border: 3px solid #D52027;
}
#inscribe:active{
    border-color: #ffffff;
    background-color: #D52027;
    color: #ffffff;
}
/* second display */
#second_display {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    margin-top:835px ;
    height: 540px;
}
#text_second_display{
    font-family: "Jost";
    font-size: 30px;
    margin-left: 15vw;
    margin-top: 10vh;
}

#big_number_list{
    font-weight:bold;
    color: #D52027;
    font-family: "Jost";
    font-size: 70px;
    list-style: none;
    margin-left: 13vw;
    margin-bottom: 0px;
}
#big_number_list li{
    display: inline;
    margin-right: 200px;
}
#small_text_list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 280px;
}
.block_of_list{
    font-family: "Jost";
    font-size: 19px;
    height: 60px;
    width: 260px;
    margin-right: 40px;
}
#third_block {
    margin-left: 18px;
}
#forty_block {
    margin-left: 60px;
}
/* third display */
#third_display {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #F9F9F9;
    height: 520px;
    margin-top: 540px;
}
#main_text_third_display{
    font-family: "Jost";
    font-weight: 600px;
    font-size: 50px;
    color: #141024;
    margin-left: 15vw;
    margin-top: 90px;
}
#list_third_display{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 13vw;
}
#list_third_display div{
    height: 290px;
    width: 380px;
    margin-right: 80px;
}
#list_third_display ul{
    list-style: none;
    font-family: "Jost";
}
.big_text_list2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #141024;
}
.small_text_list2{
    font-size: 18px;
    font-weight: 400;
    color:#141024B2;
}
/* button info */
#button_info{
    color: #141024;
    font-size: 19px;
    background-color: #14102414;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    border-radius: 100px;
    border-color: #14102400;
    position: relative;
}
#tooltip_text {
    height: 40px;
    width: 250px;
    padding-top: 13px;
    text-align: center;
    font-family: "Jost";
    background-color: #FFFFFF;
    color: #141024;
    font-size: 16px;
    display: block;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 33px 7px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 33px 7px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 33px 7px rgba(34, 60, 80, 0.2);
    z-index: 1;
    transform: translate(50%,-180%);
    position: absolute;
    display: none;
}
#button_info:hover + #tooltip_text,#button_info:focus + #tooltip_text{
    display: block;
}
/* forty display */
#forty_display{
    height: 1800px;
    margin-top: 600px;
}
#main_text_forty_display{
    font-family: "Jost";
    font-size: 50px;
    font-weight: 600px;
    color: #141024;
    margin-left: 15vw;
    margin-top: 700px;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 1310px; /* Ширина слайдера */
    height: 670px; /* Высота слайдера */
    /* background-color: yellow; */
}
.minislider{
    border-radius: 100px;
    margin-left: 25px;
    position: relative;
    overflow: hidden;
    width: 360px; /* Ширина слайдера */
    height: 5px; /* Высота слайдера */
    background-color: #14102414;
    margin-top: 16px;
}
.slides {
    display: flex;
    transition: transform 0.5s ease;
}
.slides_mini {
    display: flex;
    transition: transform 0.5s ease;
}
.slide {
    min-width: 360px; /* Ширина каждого слайда */
    height: 670px; /* Высота каждого слайда */
    justify-content: center;
    background-color: white;
    margin-right: 65px;
    margin-left: 25px;
}

.mini_slide{
    border-radius: 100px;
    min-width: 260px; /* Ширина каждого слайда */
    height: 5px; /* Высота каждого слайда */
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: #141024;
}
.button{
    margin-left: 790px;
}
.button_prev_next{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #141024;
    color: white;   
    border: 0;
    margin-left: 10px;
}
.button_prev_next:hover{
    background-color: #7e7b7b;
}
/* Стрелка вправо */
.arrow-right-3{
    margin-top: 2px;
    margin-left: 3px;
    width: 10px;
    height: 19px;
    cursor: pointer;
    fill: white;
    
}
.arrow-left-3{
    margin-top: 2px;
    margin-right: 2px;
    width: 10px;
    height: 19px;
    cursor: pointer;
    fill: white;
    transform: rotate(180deg);
}

.second_slider{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 40px;
}
#slide_forty_display{
    margin-left: 14vw;
    margin-right: 14vw;
    /* background-color: #D52027; */
    height: 750px;
    padding: 0 0 0 0;
}
.medium_text_coach{
    font-family: Jost;
    font-size: 24px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 0%;
}
.small_text_coach{
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#forty_coach{
    border-radius: 20px;
}
/* ANIMATION <a> */
.more_coaches{
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D52027;
}
#slide_forty_display a{
    text-decoration: none;
    position: relative;
}
#slide_forty_display a::before,#slide_forty_display a::after{
    content: '';
    position: absolute;
    height: 1px;
    background: #D52027;
    transition: all 0.3s ease;
}
#slide_forty_display a::before{
    top: -5px; /* Линия сверху */
    left: 0;
    width: 0;
}
#slide_forty_display a::after{
    bottom: -5px; /* Линия снизу */
    right: 0;
    width: 0%;
}
#slide_forty_display a:hover::before,#slide_forty_display a:hover::after{
    width: 100%; /* Линия сверху */
}

#service{
    margin-left: 15vw;
    margin-right: 17vw;
    /* background-color: #D52027; */
    height: 640px;
}
#main_text_service{
    font-family: "Jost";
    font-size: 50px;
    font-weight: 600px;
    color: #141024;
    margin-top: 150px;
    margin-bottom: 100px;
}
#tariffs_block{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}
.tariff{
    background-color: white;
    border: 1px solid #14102433;   
    border-radius: 20px;
    height: 460px;
    width: 360px;   
    align-items: center;
    text-align: center;
}
.tariff h3{
    font-family: "Jost";
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
}
.tariff h4{
    font-family: "Jost";
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    text-align: center;
    margin-top: 0px; 
    margin-top: 50px;
    margin-bottom: 40px;
}
.tariff p{
    font-family: "Jost";
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    text-decoration-skip-ink: none;
    margin-bottom: 40px;
    margin-top: 0;
}
.tariff button{
    width: Fixed (280px)px;
    height: Hug (79px)px;
    top: 3826px;
    left: 420px;
    padding: 25px 54px 25px 54px;
    gap: 10px;
    border-radius: 5px;
    background-color: #D52027;
    border: 0;
    opacity: 0px;
    font-family: "Jost";
    color: white;
    font-size:18px;
}
.tariff button:active{
    border: 2px solid white;
}
.tariff:hover{
    background-color: #141024;
    color: white;
    transition: all 0.3s linear;  
    transform:scale(1.05);
    z-index: 1;
}
.tariff:not(:hover){
    transition: all 0.3s linear;
}
#robo{
    margin-right: 95px;
    margin-left: 95px;
}
#fifty_display{
    height: 420px;
    width: 100%;
    background-color: #D52027;
    padding-top: 25px;
}
#main_block_fifty_display{
    z-index: 3;
    height: 320px;
    margin-left: 15vw;
    margin-right: 16vw;
    margin-bottom: 0;
}
#lside_five{
    height: 200px;
    width: 475px;
    z-index: 4;
    display: inline;
    float:left;
    padding-top: 20px;
    padding-left: 20px;
}
#lside_five span{
    font-family: "Jost";
    font-size: 36px;
    font-weight: 600;
    line-height: 46.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;

}
#lside_five p{
    font-family: "Jost";
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}
#rside_five{
    height: 300px;
    width: 550px;
    z-index: 4;
    display: inline;
    float:right;
    padding: 5px 5px 5px 5px;
}
.form_feedback{
    background-color: #F6F6F6;
    border-radius: 5px;
    border: none;
    color:#282944B2;
    height: 64px;
    width: 500px;
    margin-bottom: 8px;
    font-family: "Jost";
    font-size: 18px;
    padding-left: 15px;
}
.form_feedback:focus{
    outline: none;
}
#feedback_button{
    background-color: #141024;
    border: none;
    color: white;
    font-size: 18px;
    font-family: "Jost";
    height: 66px;
    width: 520px;
    border-radius: 5px;
}
#feedback_button:hover{
    background-color: white;
    color: #D52027;
    transition: all 0.3s ease;
}
#text_procent h1{
    color: rgba(255, 255, 255, 0.1);
    font-size: 90px;
    font-family: "Jost";
    margin-top: 3px;
}
footer{
    background-color: #141024;
    height: 160px;
    width: 100%;
    bottom: 0;
}
#lside_footer{
    height: 150px;
    width: 200px;
    display: inline;
    float:left;
    padding: 5px 5px 5px 5px;
    margin-left: 100px;
}
#rside_footer{
    margin-right: 100px;
    margin-top: 30px;
    height: 60px;
    width: 270px;
    display: inline;
    float:right;
    padding: 5px 5px 5px 5px;
}
#rside_footer h2{
    color: white;
    font-family: "Jost";
    font-size: 30px;
}
#lside_footer *{
    font-family: "Jost";
    color: white;
}
#lside_footer h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 0;
}
#lside_footer p{
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
/* Модалка */
.vmodal_second{
    display: none;
}

.modal_overlay{
    position: fixed;
    top: 0%;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #1410244d;
    z-index: 2;
}
.modal_window{
    height: 768px;
    width: 940px;
    background-color: white;
    border-radius: 20px;
    margin: 90px auto ;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Jost";
}
.modal_header{
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.modal_nav{
    padding-top: 20px;
    width: 100%;
}
.modal_body{
    height: 400px;
    width: 100%;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 20px;
}
.right_header{
    margin-left: 40px;
}
.photo_mini_coach{
    margin-left: 35px;
    height: 222px;
    width: 160px;
}
.modal_close{
    margin-top: 28px;
    margin-left: 350px;
}
.massenger_link{
    height: 30px;
    width: 30px;
    border-radius: 100px;
    margin-right: 20px;
}
.modal_nav ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    height: 50px;
}
.nav_link{
    margin-top: 60px;
    display: inline;
}
.nav_link a{
    color: #141024;
}
#expirience{
    margin-left: 240px;
    margin-right: 240px;
}
.education_text{
    overflow: auto;
    height: 340px; 
    width: 905px; 
}
.education_text::-webkit-scrollbar {
    width: 5px;
    height: 175px;
    background-color:rgba(0, 0, 0, 0.158) ;
    border-radius: 100px;
  }
  .education_text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #141024;
  }