{% load static %}
{% load livereload_tags %}

<!DOCTYPE html>
<html lang="en">
    
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='{% static 'main.css' %} '>
    <title>ROBO SCHOOL</title>
    {% livereload_script %}
</head>
<body>
    <div id="first_display">
        <header>
            <ul id="header_list">
                <li id="header_logo"><b>ROBO.SCHOOL</b></li>
                <li id="about_school"><a href="#text_second_display">О школе</a></li>
                <li id="about_coaches"><a href="#main_text_forty_display">Тренеры</a></li>
                <li id="about_cost"><a href="#main_text_service">Стоимость</a></li>
                <li id="login"><a href='{% url 'authorization' %}'><b>Войти</b></a></li>
            </ul>
        </header>
        <div id="lside">
            <h1 id="first_display_logo">ROBO SCHOOL</h1>
            <p id="first_display_text">Курсы повышения квалификации по робототехнике<br> для педагогов начальной школы</p>
            <button id="inscribe" onclick="window.location.href='#link_curse'"><b>Записаться на курс</b></button>
        </div>
        <div id="rside">
            <img src='{% static 'img/Ellipse 29.png' %}' id="ellipse">
            <img src='{% static 'img/portrait-smiling-nostalgic-female-student-looking-upper-left-corner-holding-notebooks 1.png' %}' id="woman">
        </div>
    </div>
    <div id="second_display">
        <p id="text_second_display">
            <b>Robo School</b> – учреждение для формирования кадрового<br>педагогического резерва в сфере робототехники<br>и программирования
        </p>
        <ul id="big_number_list">
            <li>10</li>
            <li>20</li>
            <li>100</li>
            <li>10 000</li>
        </ul>
        <div id="small_text_list">
            <div id="first_block" class="block_of_list">
                <p>УМК по различным<br>направлениям по робототехнике</p>
            </div>
            <div id="second_block" class="block_of_list">
                <p>Школ, в которых запущена робототехника</p>
            </div>
            <div id="third_block" class="block_of_list">
                <p>Педагогов прошедших курсы повышения квалификации</p>
            </div>
            <div id="forty_block" class="block_of_list">
                <p>Обученных детей на базе собственных центров</p>
            </div>
        </ul>
    </div>
    <div id="third_display">
        <h1 id="main_text_third_display">Что вы получите после курса</h1>
        <div id="list_third_display">
            <div id="first_block_third_display">
                <ul>
                    <li class="big_text_list2">Удостоверение</li>
                    <li class="mini_text_list2">Дающее право преподавать робототехнику<br>для детей 6-12 лет в образовательных<br>учреждениях</li>
                </ul>
            </div>
            <div id="second_block_third_display">
                <ul>
                    <li class="big_text_list2">Знания</li>
                    <li class="mini_text_list2">По основам разработки учебно-<br>методических комплексов<br>по робототехнике и программированию</li>
                </ul>
            </div>
            <div id="third_block_third_display">
                <ul>
                    <li class="big_text_list2">Практику<button id="button_info">i</button><span id="tooltip_text">При наличии свободных мест</span></li>
                    <li class="mini_text_list2">Возможность пройти практику<br>по преподаванию робототехники на базе<br>R:ED LAB (в оффлайн или онлайн формате)</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="forty_display">
        <h2 id="main_text_forty_display">Профессиональные тренеры</h2>
        <div id="slide_forty_display">
            <div class="slider">
                <div class="slides">
                    <div class="slide">
                        <img src='{% static 'img\Irina Laim.jpg' %}' id="first_coach">
                        <h3 class="medium_text_coach">Ирина Лайм</h3>
                        <p class="small_text_coach">преподаватель по робототехнике</p>
                        <a id="more_first_coaches" href="" class="more_coaches">Подробнее</a>
                    </div>
                    <div class="slide">
                        <img src='{% static 'img\Marina Orlova.jpg' %}' id="second_coach">
                        <h3 class="medium_text_coach">Марина Орлова</h3>
                        <p class="small_text_coach">преподаватель по робототехнике</p>
                        <a id="more_second_coaches" href="" class="more_coaches">Подробнее</a>
                    </div>
                    <div class="slide">
                        <img src='{% static 'img\Max Petrov.jpg' %}' id="third_coach">
                        <h3 class="medium_text_coach">Максим Петров</h3>
                        <p class="small_text_coach">преподаватель по программированию</p>
                        <a id="more_third_coaches" href="" class="more_coaches">Подробнее</a>
                    </div>
                    <div class="slide">
                        <img src='{% static 'img\Konstantin nazarov.jpg' %}' id="forty_coach">
                        <h3 class="medium_text_coach">Константин Назаров</h3>
                        <p class="small_text_coach">преподаватель по робототехнике</p>
                        <a id="more_forty_coaches" href="" class="more_coaches">Подробнее</a>
                    </div>
                    <div class="slide">
                        <img src='{% static 'img\Liza Vesenaya.jpg' %}' id="fifty_coach">
                        <h3 class="medium_text_coach">Лиза Весенняя</h3>
                        <p class="small_text_coach">преподаватель по программированию</p>
                        <a id="more_fifty_coaches" href="" class="more_coaches">Подробнее</a>
                    </div>
                </div>
                
            </div>
            <div class="second_slider">
                <div class="minislider">
                    <div class="slides_mini">
                        <div class="mini_slide"></div>  
                    </div>
                </div>
                <div class="button">
                    <button id="prevBtn" class="button_prev_next" type="button">
                        <svg class="arrow-left-3" viewBox="0 0 5 9">
                            <path d="M0.419,9.000 L0.003,8.606 L4.164,4.500 L0.003,0.394 L0.419,0.000 L4.997,4.500 L0.419,9.000 Z" />
                        </svg>
                    </button>
                    <button id="nextBtn" class="button_prev_next" type="button">
                        <svg class="arrow-right-3" viewBox="0 0 5 9">
                            <path d="M0.419,9.000 L0.003,8.606 L4.164,4.500 L0.003,0.394 L0.419,0.000 L4.997,4.500 L0.419,9.000 Z" />
                        </svg>
                    </button>
                    <script src='{% static "inf_slider.js" %}'></script>
                </div>
            </div>
        </div>
        <div id="service">
            <h2 id="main_text_service">Выберите нужный пакет</h2>
            <div id="tariffs_block">
                <div id="pro" class="tariff">
                        <h3>– PRO –</h3>
                        <h4>20.000 ₽</h4>
                        <p>УМК по робототетхнике<br>и программированию</p>
                        <button id="request" onclick="window.location.href='#link_curse'">Оставить заявку</button>
                </div>
                <div id="robo" class="tariff">
                        <h3>– ROBO –</h3>
                        <h4>15.000 ₽</h4>
                        <p>УМК по робототетхнике </p>
                        <button id="request" onclick="window.location.href='#link_curse'">Оставить заявку</button>
                </div>
                <div id="prog" class="tariff">
                        <h3>– PROG –</h3>
                        <h4>10.000 ₽</h4>
                        <p>УМК по программированию</p>
                        <button id="request" onclick="window.location.href='#link_curse'">Оставить заявку</button>
                </div>
            </div>
        </div>
    </div>
    <div id="fifty_display">
        <div id="main_block_fifty_display">
            <div id="lside_five">
                <span id="link_curse">Запишитесь на курс<br>со скидкой 10%</span>
                <p>Акция действительна до 10 марта 2022 года</p>
            </div>
            <div id="rside_five">
                <form method="POST">     
                    <label for='name'></label>
                    <input type='text' id = "name" name="name" placeholder= "Имя" class="form_feedback">
                    <label for='tel_number'></label>
                    <input type="tel" id = "tel_number" name="tel_number" placeholder="Телефон" class="form_feedback">
                    <label for='email_feedback'></label>
                    <input type="email" id = "email_feedback" name="email_feedback" placeholder="E-mail" class="form_feedback">
                    <button type="submit" id = "feedback_button" value="POST"><b>Оформить заявку</b></button>
                </form> 
            </div>
        </div>
        <div id="text_procent">
            <h1>%%%%%%%%%%%%%%%%%%%%%%%</h1>
        </div>
    </div>  
    <footer>
        <div id="lside_footer">
            <h2>ROBO.SCHOOL</h2>
            <p>© ROBO.SCHOOL</p>
        </div>
        <div id="rside_footer">
            <h2>+7 800 000 11 22</h2>
        </div>
    </footer>
</body> 
</html>