{% load static %}
{% load livereload_tags %}
<!DOCTYPE html>
<html>
<head>
    {% load livereload_tags %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registration</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static 'reg_aut.css' %}'>
    <script src='main.js'></script>
    {% livereload_script %}
</head>
<body>
     <div class="mainbox" >
        <h1  id="logo">ROBO SCHOOL</h1>


        <form method="post">     
            {% csrf_token %}  
            {{ email.email }}
            <label for='email'></label>
            <input type='email' id = "email" placeholder= "E-mail">
            {{ password.password }}
            <label for='password'></label>
            <input type="password" id = "password" placeholder="Password">
            <button type="submit" id = "registration_button"><b>Зарегестрироваться</b></button>
            <a href="{% url "authorization" %}" id="back_button_in_registr">Назад</a>
        </form>        
       
     </div>
</body>
</html>